<form>
  <p>Working with bsValue</p>
  <input type="text" name="date" [bsValue]="dateValue" #dp="bsDatepicker" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true, keepDatesOutOfRules: true}"
    [minDate]="minDate" [maxDate]="maxDate">

  <p>Not working with ngModel</p>
  <input type="text" name="date" [(ngModel)]="dateValue" #dp="bsDatepicker" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true, keepDatesOutOfRules: true}"
    [minDate]="minDate" [maxDate]="maxDate">

  <p>Not working with formControlName</p>
  <div [formGroup]="form">
    <input type="text" name="date" formControlName="date" #dp="bsDatepicker" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true, keepDatesOutOfRules: true}"
      [minDate]="minDate" [maxDate]="maxDate">
  </div>
</form>